.ourteam {
  display: flex;
  flex-direction: column;
  padding: 0%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  color: #fff;
  /* leading-trim: both;
text-edge: cap; */
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}

.cardholder {
  padding: 5%;
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.card {
  padding: 5%;
}

.colortransition {
  background-color: blue;
}

.button {
  z-index: 1;
  border-radius: 10px;
  background: linear-gradient(135deg, #75b7e6, #9b59b6);
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  min-width: 100px;
  min-height: 40px;

  color: #fff7f7;
  font-family: Poppins;
  font-size: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.button:hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1.15);
}

@media (max-width: 1991px) {
  .cardholder {
    grid-template-columns: 1fr; /* Single column for small devices */
  }

  .button {
    width: 80%;
    min-width: unset;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .cardholder {
    grid-template-columns: 1fr; /* Single column for tablets */
  }

  .button {
    width: 40%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .cardholder {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium-sized screens */
  }
}

@media (min-width: 1201px) {
  .cardholder {
    grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
  }
}


