.ourteam {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}

.cardholder {
  padding: 5%;
  width: 100%;
  display: grid;
  grid-gap: 20px; /* Adds spacing between cards */
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns for large screens */
}

.card {
  padding: 5%;
  background: transparent; /* Optional: Add background color for clarity */
  border-radius: 10px;
}

.colortransition {
  background-color: blue;
}

.button {
  z-index: 1;
  border-radius: 10px;
  background: linear-gradient(135deg, #75b7e6, #9b59b6);
  width: 100px;
  height: 40px;
  color: #fff7f7;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1.15);
}

/* Mobile view */
@media (max-width: 768px) {
  .cardholder {
    grid-template-columns: 1fr; /* Single column for small screens */
  }

  .button {
    width: 80%;
    height: 40px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 769px) and (max-width: 1200px) {
  .cardholder {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }

  .button {
    width: 40%;
  }
}

/* Large desktop screens */
@media (min-width: 1201px) {
  .cardholder {
    grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
  }

  .button {
    width: 100px;
    height: 40px;
  }
}
